/* ─── CTA / Contact ─────────────────────────────────────────── */

:root {
  --plura-contacts-cta-form-w: 420px;
}


/* ─── Morph ──────────────────────────────────────────────────── */

.plura-float--contacts .plura-float-morph {
  bottom: var(--plura-layout-pad);
}


/* ─── Form wrapper ───────────────────────────────────────────── */

.plura-contacts-cta-content {
  width: var(--plura-contacts-cta-form-w);
}


