/* ─── CTA / Contact ─────────────────────────────────────────── */

:root {
  --plura-cta-form-w: 420px;
}


/* ─── Main ───────────────────────────────────────────────────── */



/* ─── Morph ──────────────────────────────────────────────────── */

.plura-float--contacts .plura-float-morph {
  bottom: var(--plura-layout-pad);
}


/* ─── Form wrapper ───────────────────────────────────────────── */

.plura-cta-form-wrapper {
  width: var(--plura-cta-form-w);
}


