/* ─── Reset ─────────────────────────────────────────────────── */

*, *::before, *::after {
  box-sizing: border-box;
}


/* ─── Color scheme ─────────────────────────────────────────── */

:root {
  /* Colors */
  --plura-color-dark:  #0f0f0f;
  --plura-color-light: #ffffff;

  /* Layout */
  --plura-layout-header-h: 100px;
  --plura-layout-width:    95dvw;
  --plura-layout-pad:      calc((100dvw - var(--plura-layout-width)) / 2);
  --plura-layout-pad-top:  calc(var(--plura-layout-pad) / 2);
  --plura-layout-gap:      16px;
}
