/* ─── Reset ─────────────────────────────────────────────────── */

*, *::before, *::after {
  box-sizing: border-box;
}


/* ─── Color scheme ─────────────────────────────────────────── */

:root {
  /* Colors */
  --plura-color-dark:  #0f0f0f;
  --plura-color-light: #ffffff;

  /* Layout */
  --plura-layout-header-h: 60px;
  --plura-layout-pad:      40px;
  --plura-layout-pad-top:  calc(var(--plura-layout-pad) / 2);
  --plura-layout-width:    calc(100dvw - 2 * var(--plura-layout-pad));
  --plura-layout-gap:      16px;
}

@media (max-width: 768px) {
  :root {
    --plura-layout-pad: 20px;
  }
}
