{
    "name": "Plura | Now",
    "context": "src",
    "host": "",
    "protocol": "ftp",
    "port": 21,
    "username": "",
    "password": "",
    "remotePath": "",
    "uploadOnSave": false,
    "useTempFile": false,
    "openSsh": false
}
